body {
	background-color: #244;
	padding: 0px;
}

.white-background {
	background-color: #fff;
	width: 70%;
	margin: auto;
	padding: 30px;
	border: 1px black solid;
	box-shadow: 0px 0px 50px black;
}


/*			HEADER DIV			*/
.header {
	margin: auto;
	width: 90%;
	padding: 20px;
	border: 0px purple solid;
	text-align: center;
}

.header img {
	margin: auto;
	border: 0px yellow solid;
}


/*			TOPNAV DIV			*/
.topnav {
	border: 0px green solid;
	margin: auto;
	padding: 0px;
	list-style-type: none;
	text-align: center;
    display:flex;		
    align-items:center;
	overflow: auto;
}

.topnav ul {
	margin: 0 auto;
	padding: 0px;
}


.button {
	display: block;
	background-color: #699;
	margin: 6px 20px 6px 0px;
	padding: 8px;
	float: left;
}


/*			GALLERY PROPERTIES with SIDEBAR 
.gallery {
	float: left;
	width: 70%;
	background-color: #fff;
	border: 0px black solid;
	padding: 20px;
}
*/


/*			GALLERY PROPERTIES with TOPNAV			*/
.gallery {
	margin: auto;
	width: 90%;
	border: 0px black solid;
	padding: 20px;
}


/*			THUMBNAILS DIV			*/
.thumbnails {
	background-color: #fff;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	overflow: auto;
}

.thumbnails li {
	display: block;
	float: left;
	width: 160px;
	height: 160px;
	overflow: hidden;
	margin: 0px 25px 25px 0px;
    box-shadow: 10px 10px 10px black;
}

.thumbnails img {
	position: relative;
	left: 50%;
	top: 50%;
	height: 100%;
	width: auto;
	-webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}


/*			SIDEBAR			*/
.sidebar {
	float: left;
	width: 25%;
	background-color: #aaa;
}

.sidebar.nav {
	list-style-type: none;
	width: 160px;
	text-align: center;
	margin: 0px;
	padding: 0px;
}
